body {
    min-height: 470px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    height: 100vh;
    background-color: $body-background-color;
    font-family: $font;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.padding-15 {
    padding: 15px;
}

.padding-side-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.padding-10 {
    padding: 10px;
}

.padding-20 {
    padding: 20px;
}

.application-wrapper {
    max-width: 1170px;
    min-width: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 75px;
    transition: all 0.7s;
}

.controls-info-wrapper {
    position: relative;
    background-color: $box-background-color;
    transition: all 0.7s;
}

.content-edit-wrapper {
    margin: 40px 0;
    background-color: $box-background-color;
    padding: 40px;
    color: $dark-text-color;
    transition: all 0.7s;
}

.content-box-shadow {
    box-shadow: 0 0 55px -12px #707d86;
}

.content-title {
    flex: 0 0 100%;
    font-size: 24px;
}

.full-flex-box {
    display: flex;
    flex: 0 0 100%;
    width: 100%;
    min-width: 100%;
    box-sizing: border-box;
}