$image-size: 170px;

$font: 'Helvetica';

$box-background-color: white;
$body-background-color: #f4f8f9;
$input-background-color: #f6f7f9;
$hover-color: #007ee5;
$hover-background-color: #f3f4f6;
$image-button-color: #747d88;
$dark-text-color: #404549;
$text-color: #707d86;