<div id="application-wrapper" class="application-wrapper">
    <div class="controls-info-wrapper content-box-shadow flex-wrap full-flex-box">
        <div class="full-flex-box padding-20 justify-end">
            <@= log-out =@>
        </div>
        <div class="full-flex-box justify-center">
            <@= upload-image =@>
        </div>
        <@= info =@>
        <@= rating-reviews =@>
        <@= followers =@>
        <@= control-tabs =@>
    </div>
    <div class="content-edit-wrapper content-box-shadow flex-wrap full-flex-box">
        <div dynamic-html="switchTabContent">
            <@= content-tab-about =@>
        </div>
    </div>
</div>